@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
}

/*se elimina esto para que el modo oscuro sea fijo:--foreground: #ededed; */

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    
  }}



body {
  background: var(--background);  
  color: var(--foreground);
}
/*
 */

.sancho-poeta-bg {
  background-image: url('/sanchopoetafondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Asegura que ocupe toda la pantalla */
  padding: 30px;
}






